@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typewriter effect 1 */
@keyframes typing {
    0.0000%,  31.0000% { content: ""; }
    1.0000%,  30.0000% { content: "d"; }
    2.0000%,  29.0000% { content: "di"; }
    3.0000%,  28.0000% { content: "dis"; }
    4.0000%,  27.0000% { content: "disc"; }
    5.0000%,  26.0000% { content: "discr"; }
    6.0000%,  25.0000% { content: "discri"; }
    7.0000%,  24.0000% { content: "discrim"; }
    8.0000%,  23.0000% { content: "discrimi"; }
    9.0000%,  22.0000% { content: "discrimin"; }
    10.0000%,  21.0000% { content: "discrimina"; }
    11.0000%,  20.0000% { content: "discriminat"; }
    12.0000%,  19.0000% { content: "discriminat"; }
    13.0000%,  18.0000% { content: "discriminati"; }
    14.0000%,  17.0000% { content: "discriminatie"; }



    32.0000%, 51.0000% { content: ""; }
    33.0000%, 50.0000% { content: "p"; }
    34.0000%, 49.0000% { content: "pe"; }
    35.0000%, 47.0000% { content: "pes"; }
    36.0000%, 46.0000% { content: "pest"; }
    37.0000%, 45.0000% { content: "peste"; }
    38.0000%, 44.0000% { content: "pesten"; }
  
    51.6977%, 75.2093% { content: "g"; }
    52.6977%, 75.2093% { content: "ge"; }
    53.6977%, 75.2093% { content: "gem"; }
    54.6977%, 75.2093% { content: "geme"; }
    55.6977%, 75.2093% { content: "gemee"; }
    56.8372%, 74.0698% { content: "gemeen"; }
    57.9767%, 72.9302% { content: "gemeen "; }
    58.1163%, 71.7907% { content: "gemeen z"; }
    59.2558%, 70.6512% { content: "gemeen zi"; }
    60.3953%, 69.5116% { content: "gemeen zij"; }
    61.5349%, 68.3721% { content: "gemeen zijn"; }
  
    78.6279%, 99.8605% { content: ""; }
    79.7674%, 98.7209% { content: "r"; }
    80.7674%, 97.7209% { content: "ra"; }
    81.7674%, 96.7209% { content: "rac"; }
    82.9070%, 96.5814% { content: "raci"; }
    83.0465%, 95.4419% { content: "racis"; }
    84.0465%, 94.4419% { content: "racist"; }
    85.1860%, 93.3023% { content: "racist "; }
    86.0465%, 92.4419% { content: "racist z"; }
    87.1860%, 91.3023% { content: "racist zi"; }
    88.1860%, 90.3023% { content: "racist zij"; }
    89.3256%, 90.1628% { content: "racist zijn"; }
  }
  
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  .typewriter {
    --caret: currentcolor;
  }
  
  .typewriter::before {
    content: "";
    animation: typing 13.5s infinite;
  }
  
  .typewriter::after {
    content: "";
    border-right: 1px solid var(--caret);
    animation: blink 0.5s linear infinite;
  }
  
  .typewriter.thick::after {
    border-right: 1ch solid var(--caret);
  }
  
  .typewriter.nocaret::after {
    border-right: 0;
  }
  
  
  @media (prefers-reduced-motion) {
    .typewriter::after {
      animation: none;
    }
    
    @keyframes sequencePopup {
      0%, 100% { content: "discriminatie"; }
      25% { content: "pesten"; }
      50% { content: "gemeen zijn"; }
      75% { content: "racist zijn"; }
    }
  
    .typewriter::before {
      content: "developer";
      animation: sequencePopup 12s linear infinite;
    }
  }
  
  /**/
  
